---
BasedOnStyle: LLVM
UseTab: Never
TabWidth: 4
AllowAllParametersOfDeclarationOnNextLine: false
SpaceBeforeParensOptions:
  AfterControlStatements: true
SpaceBeforeCpp11BracedList: true
SpaceAfterCStyleCast: true
PointerAlignment: Right
# InsertNewlineAtEOF: true # not supported by pre-commit hooks for now
InsertBraces: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
IncludeBlocks: Preserve
IndentCaseBlocks: true
IndentCaseLabels: false
IndentGotoLabels: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Never
IndentWidth: 4
ColumnLimit: 120
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 1000000
Cpp11BracedListStyle: false
